
@{
    ViewBag.Title = "Please Confirm";
}

<h2>Oops! Your account still needs to be confirmed!</h2>

Please check your email. There should be message with a link to confirm your account.
<br />
<!--TODO make this link work-->
<a href="">Resend confirmation email</a>

